@font-face {
    font-family: 'Pixelify Sans';
    src: url(./assets/PixelifySans-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    flex-basis: 50vh;
    width: 50vw;
}

.grid-square {
    border: 1px solid gray;
    flex: 1 1 calc(100% / 16); /* default value for 16x16 grid */
    aspect-ratio: 1;
}

.border-off {
    border: none;
}

.fill-square {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(135, 135, 212);
    width: 100%;
    padding: 16px 32px;
    font-size: 36px;
}

.info {
    display: flex;
    gap: 12px;
    font-size: 20px;
    align-items: center;
}

#github-logo {
    width: 28px;
    height: auto;
    padding-top: 4px;
}